:root[data-theme="iris"] {
  --color-background: #c4ebc8;
  --color-surface: #ffffff;
  --color-primary: #5f4bb6;
  --color-secondary: #86a5d9;
  --color-accent: #26f0f1;
  --color-danger: #ff4f4f;
  --color-text: #202a25;
  --color-text-muted: #5f4bb6;

  --border-radius: 5px;

  --font-family-base: 'Poppins', sans-serif;
}
