:root[data-theme="maize"] {
  --color-background: #f4e76e;
  --color-surface: #ffffff;
  --color-primary: #51bbfe;
  --color-secondary: #8ff7a7;
  --color-accent: #f7fe72;
  --color-danger: #db504a;
  --color-text: #202a25;
  --color-text-muted: #757761;

  --border-radius: 10px;

  --font-family-base: "Quicksand", sans-serif;
}
