:root[data-theme="midnight"] {
  --color-background: #084c61;
  --color-surface: #4f6d7a;
  --color-primary: #e3b505;
  --color-secondary: #56a3a6;
  --color-accent: #f18f01;
  --color-danger: #db504a;
  --color-text: #ffffff;
  --color-text-muted: #cdd6d7;

  --border-radius: 0px;

  --font-family-base: "Space Grotesk", sans-serif;
}
